
.container {
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;

  }

.header-wrapper{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-bottom:40px ;
}
.header-link a{
    color: white;
    text-decoration: none;
    padding: 0px 20px;
    font-weight: bold;
}

/* serach option css properties */

.search{
    font-size: 25px;
    cursor: pointer;
}
.cross-icon{
    font-size: 25px;
    cursor: pointer;
}
.search-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1rem;
    
}

.search-wrapper input{
    width: 100%;
    padding: 10px 0px;
    margin: 10px;
    outline: none;
}

/* button css properties  */

.button {
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    background: linear-gradient(to right, rgb(231, 71, 132), 
    rgb(0, 170, 255));
    /* Gradient background */
    border-radius: 10px;
    border: none;
    color: aliceblue;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    /* Text shadow effect */
    box-shadow: 0 0 10px rgba(55, 0, 255, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  }
  
  .button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(231, 71, 132);
    color: white;
  }
  

/* card css properties  */


.card-wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 280px);  
    /* grid-template-columns: auto auto auto auto; */
   
  
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .card-wrapper{

        grid-template-columns: repeat(3, 1fr);  
      
      
    }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 
 }

/* .card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 10px;
}*/
.card a{
    text-decoration: none;
    color: black;
} 

.card {

    background: white;
    border-radius: 10px;
    padding: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }
   
   /* Filter section css  */

   .filter-header{
    display: flex;
    justify-content: space-between;
}
.filter-wrapper{
    width: 18rem;
    /* background-color: aliceblue; */
    background: linear-gradient(to right, rgb(229, 80, 137), 
    rgb(0, 170, 255));
    z-index: 40;
    position: fixed;
    padding: 10px;
    height: 100vh;
    top: 0px;
    color: white;
}
.sort-by-wrpper label{
    font-weight: bold;
    padding-left: 5px;
}
.sort-by-page label{
    font-weight: bold;
    padding-left: 5px;
  
}


 /* modal box css properties  */

    .modal:before {
        content:"";
        display: block;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
 
    .modal .modal-dialog {
        background: #fefefe;
        border: #333333 solid 1px;
        border-radius: 5px;
        margin-left: -160px;
        position: fixed;
        left: 50%;
        z-index: 11;
        width: 300px;
        /* -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0); */
        transform: translate(0, 0);
        /* -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out; */
        /* transition: transform 0.3s ease-out; */
        top: 20%;
        padding: 15px;
    }
    .modal .modal-heading{
        display: flex;
        justify-content: space-between;
       
    }
    .modal input{
        display: block;
        padding: 5px;
    }
    .modal label{
font-weight: bold;
    }
    .modal .modal-submit-btn{
        margin-top: 10px;
    }